body {
    background-image: url(Free-Chalkboard-Backgrounds.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
h2{
    color: #ffff;
    text-shadow: 2px 2px 3px #000000;
}
.check{
    background-color: #198754;
}
.span-check{
    color: #ffff;
}
.transparencia{
    opacity: 0.6;
}